body {
    margin: 0; /* para eliminar el margen por defecto del body */
    padding: 0; /* para eliminar el padding por defecto del body */
}
* {
   box-sizing: border-box; /*.branding y border NO rompan los tamaños de los elementos, 
   el tamaño total del elemento se mantiene igual aunque se agregue padding o border.
    Esto facilita el diseño y evita que los elementos se desborden o cambien de tamaño inesperadamente. */
}
.main {
    display: flex;
    flex-direction: row; /* para organizar los elementos en fila */
   /* justify-content: center;*/
    height: 100vh; /* para que ocupe toda la altura de la ventana  vp significa viewport height*/
    width: 100vw; /* para que ocupe toda la anchura de la ventana  vw significa viewport width*/

}

.main .branding {
    flex: 6; /* para que ocupe el espacio restante */
}
.main .login-box {
    flex: 4; /* para que ocupe el espacio restante */
   
}

.branding {
    display: flex;
    flex-direction: column; /* para organizar los elementos en columna solo se usa flex cuando hay mas de un elemento que acomodad
    en este caso branding es el padre y .logo .tile son los hijos entonces son dos elementos que se alinearan en forma de columna en este
    caso si es recomendable el flex si solo hay un elemento no  */
    padding: 20px; /* para agregar un poco de espacio alrededor del contenido */
}

.logo img{
    width: 120px;   /* espacio debajo del logo esto empuja el title hacia abajo */
    height: auto; /* para mantener la proporción del logo */
}
.title{
    text-align: center; /* para centrar el texto del título */
      
}.img-decoration img {
    width: 50%;
    height: auto; /* para mantener la proporción de la imagen */
}
.img-decoration {
    display: flex;
    justify-content: center; /* para centrar la imagen horizontalmente */
    align-items: center; /* para centrar la imagen verticalmente */
}

.login-box {
    display: flex;
    flex-direction: column; /* para organizar los elementos en columna */
    justify-content: center; /* para centrar el contenido verticalmente */
    padding: 55px; /* para agregar un poco de espacio alrededor del contenido */
    background: white;
    border-radius: 12px;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    gap: 10px; /* para agregar un poco de espacio  */
    
}

.login-box input {
    padding:25px 14px 11px 14px;; /* para agregar un poco de espacio dentro de los campos de entrada */
    font-size: 16px; /* para aumentar el tamaño del texto en los campos de entrada */
    width: 100%; /* para que los campos de entrada ocupen todo el ancho disponible */
    border: 1px solid #ccc; /* para agregar un borde a los campos de entrada */
    border-radius: 12px; /* para redondear las esquinas de los campos de entrada */
   
}

.login-box h2.inicio {
    font-size: 17px; /* para aumentar el tamaño del texto en las etiquetas */
    color: #000000; /* para cambiar el color del texto en las etiquetas */
}

.login-box label[for="remember"] {
    font-size: 17px; /* para aumentar el tamaño del texto en las etiquetas */
    color: #000000; /* para cambiar el color del texto en las etiquetas */
    text-align: center; /* para centrar el texto de la etiqueta */
}
.login-box button {
    width: 100%; /* para que el botón ocupe todo el ancho disponible */
    padding: 10px; /* para agregar un poco de espacio dentro del botón */                   
    font-size: 14px; /* para aumentar el tamaño del texto en el botón */
    border: none; /* para eliminar el borde del botón */
    cursor: pointer; /* para cambiar el cursor al pasar sobre el botón */
    border-radius: 27px; /* para redondear las esquinas de todos los botones*/
    margin-top: 5px; /* para agregar un poco de espacio arriba del botón de Facebook */
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px; /* para aumentar el tamaño del texto en el botón */
    
}
.login-box button.btn-facebook {
    margin-top: 33px; /* para agregar un poco de espacio dentro del botón de Facebook */
    background-color: transparent;
    border: 1px solid #D4CFCF; 
}

.login-box button.btn-create {
    background-color: transparent; /* para cambiar el color de fondo del botón de crear cuenta */
    border: 1px solid #0F5BB5;
    color: #0F5BB5; /* para cambiar el color del texto del botón de crear cuenta */

}

.input-group {
    position: relative; 
    
}

.input-group label{
    position: absolute; /* para posicionar la etiqueta sobre el campo de entrada */
    top: 14px; /* para mover la etiqueta hacia arriba cuando el campo de entrada está enfocado */
    left: 12px;/* para mover la etiqueta hacia la izquierda cuando el campo de entrada está enfocado */
    transition: 0.2s ease; /* para agregar una transición suave al mover la etiqueta */
    pointer-events: none; /* para evitar que la etiqueta interfiera con el campo de entrada (evita que el label bloquee el clic)*/
    font-weight: 600;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    color: #767676; /* para cambiar el color del texto de la etiqueta cuando el campo de entrada está enfocado */
    
}
.input-group input:focus + label, /* el + significa que el label es el siguiente hermano del input, entonces cuando 
el input está enfocado se aplica el estilo al label mas proximo */
.input-group input:not(:placeholder-shown) + label {/*placeholder-shown funciona para
     detectar si el campo de entrada tiene un valor o no, si tiene un valor se mueve la etiqueta hacia arriba*/
    top: 1px;
    font-size: 18px;
    font-weight: 500;
}

.btn-inicio {
    background-color: #A6CCF7; /* para cambiar el color de fondo del botón de inicio */
    color: #ffffff; /* para cambiar el color del texto del botón de inicio */
    border: 1px solid #D4CFCF; 
    margin-top: 5px; /* para agregar un poco de espacio arriba del botón de inicio */
    border: 1px solid #D4CFCF; 
}
.btn-remember {
    background-color: transparent; /* para cambiar el color de fondo del botón de recordar contraseña */
    border: none; /* para eliminar el borde del botón de recordar contraseña */
}

.btn-inicio:not(:disabled){
    background-color: #0F5BB5;
    cursor: pointer; /* para cambiar el cursor al pasar sobre el botón de inicio habilitado */
}
.btn-inicio {
    transition: background-color 0.3s ease;
}
button:not(.btn-inicio):hover {
    background-color: #f1f0f0;
}

.btn-inicio:disabled {
    cursor: not-allowed; /* para cambiar el cursor al pasar sobre el botón de inicio deshabilitado */
}
input:hover {
    border: 1px solid #000000; /* para cambiar el color del borde al pasar sobre el campo de entrada */
}
input:focus {
    outline: none; /* para eliminar el borde azul al enfocar el campo de entrada */
    border: 1px solid #000000; /* para cambiar el color del borde al enfocar el campo de entrada */
}

.success {
    color: green; /* para cambiar el color del texto de éxito */
    font-size: 14px; /* para aumentar el tamaño del texto de éxito */
    margin-top: 10px; /* para agregar un poco de espacio arriba del mensaje de éxito */
}

.error {
    color: red; /* para cambiar el color del texto de error */
    font-size: 14px; /* para aumentar el tamaño del texto de error */
    margin-top: 10px; /* para agregar un poco de espacio arriba del mensaje de error */
}

@media (max-width: 1024px) {
    .branding {
        display: none;
      
    }
    .login-box {
       width: 100%;
       max-width: 650px;
  
    }
    .main {
        justify-content: center; /* para centrar los elementos verticalmente */
    }
 }